/*清除默认样式*/
*{
	margin:0;
	padding:0;
	font-family:"Microsoft Yahei";
	box-sizing:border-box;
}
section{
	border:1px solid #999;
}
.container{
	padding: 20px;
	background: #eee;
	border:1px solid #999;
	overflow: auto;
	min-width: 500px;
}
.teamPort{
	width: 200px;
	float: left;
	background: white;
	padding: 20px;
}
#teamLogo{
	float: left;
}
#teamName{
	margin-left: 100px;
}
.logoImg{
	width: 80px;
	height: 80px;
}
.teamIntro{
	margin-left:220px; 
	margin-right:140px; 
	min-width: 50px;
	background: white;
	padding: 20px;
}
.teamMember{
	width: 120px;
	float: right;
	background: white;
	border:1px solid #999;
	padding: 10px;
	text-align: center;
}
.memberLogo{
	margin: 10px;
}